<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-users"></i> Users Management <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/Adduser}">Add User</a></li>
                    <li><a  th:href="@{/Addrole}" >Add Role</a></li>
                    <li><a th:href="@{/Userlist}">Users List</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-exclamation-triangle"></i> Availability Test <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#form.html">Generate Test</a></li>
                    <li><a href="#form_advanced.html">Customize Test</a></li>
                    <li><a href="#form_validation.html">Test Result</a></li>
                
                </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> Production Plan <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#general_elements.html">Generate Production Plan</a></li>
                    <li><a href="#media_gallery.html">History</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-gears"></i>Infrastucture Setting<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#tables.html">Duplication</a></li>
                    <li><a href="#tables_dynamic.html">Refresh</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Reporting<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#chartjs.html">Disque</a></li>
                    <li><a href="#chartjs2.html">CPU</a></li>
                   
                </ul>
            </li>
        </ul>
    </div>
   

</div>